center{
    background-color: darkorange;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid  gainsboro; 
    margin: 1% 10% 3% 10% ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 10px 10px  rgb(199, 197, 197);
}
#calculadora{
    background-color: gainsboro;
    width: 100%;
    margin: 60px auto;
    max-width: 400px;
    padding: 20px 30px 60px;
}
#operaciones{
    background-color: white;
    padding: 44px ;
    text-align: right;
    grid-template-rows: 70px;
    font-size: 20px;
    box-shadow: 10px 10px 10px 3px  rgb(199, 197, 197);
    grid-gap: 15px;
    margin: 10px ;

}
ul{
    display:grid;
    grid-template-columns: minmax(50px,1fr) minmax(50px,1fr) minmax(50px,1fr) minmax(50px,1fr);
    grid-gap: 15px;
    grid-template-rows: 70px 70px 70px 70px;
}
.numero,.signo,.igual,.decimal{
    background-color: white; 
    list-style: none;
    font-size: 20px;
    box-shadow: 10px 10px 10px 3px  rgb(199, 197, 197);
}
.decimal:hover{
    background-color: rgb(235, 85, 16); 
}
.igual:hover{
    background-color: rgb(235, 85, 16);
}
.numero:hover{
    background-color: rgb(235, 85, 16);
}
.signo:hover{
    background-color: rgb(235, 85, 16);
}
.decimal:active{
    background-color: rgb(53, 235, 16); 
}
.igual:active{
    background-color: rgb(42, 235, 16);
}
.numero:active{
    background-color: rgb(53, 235, 16);
}
.signo:active{
    background-color: rgb(53, 235, 16);
}
#borrar{
    float: left;
    background-color: rgb(223, 107, 24); 
    padding: 1%; 
    position: center;
    margin: 3% 40% 3% 40%;
    font-size: 20px;
    color: white;
}
#borrar:hover{
    background-color: rgb(247, 243, 0); 
}
#borrar:active{
    background-color: rgb(91, 218, 32); 
}
@media 